*{
  margin: 5px;
}
  
  .error {
    display: none;
    color: red;
  }
  
  .success {
    display: none;
    color: green;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  #submit-btn{
    background-color: #fff;
    color: #000;
    margin-left: 10px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #all-good {
    margin-bottom: 10px;
  }
  